{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include "Header.php" %}


<h2> Bienvenue sur le blog à propos des exceptions.</h2>
<br></br>
<h3> Inscrivez vous ou connectez vous pour participer</h3>
<br></br>
<h4> Si vous ne savez pas encore ce qu'est une exception il vous reste une chance de rester mentalement stable</h4>
<h1>FUYEZ</h1>

{% endblock %}
